footer {
  background-color: #eaeaea;
  text-decoration: none;
}

div {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.kontakt {
  float: left;
}

.socialmedia {
  float: center;
}

.copyright {
  float: right;
}
